### System information ###
SAGE_HOME=''
HOSTNAME=''
TS_IP=''
# Published Sage image tag to deploy. Must be an exact VERSION.
SAGE_IMAGE_TAG='0.0.11'
### System information ###


### Required ###
# Base64-encoded 32-byte key for encrypting sensitive data. Generate with: `openssl rand -base64 32`
# Used for encrypting sensitive data in the database as well as for S3 backups
ENCRYPTION_KEY='' 

# Cloudflare API token with permissions to manage DNS records for the domain
CLOUDFLARE_API_TOKEN=''
CLOUDFLARE_ACCOUNT_ID=''
# Domain for which to manage DNS records.
DOMAIN=''
# Metadata information for certificate
ADMIN_EMAIL=''
### Required ###


### Optional ###
# Discord Notifications
DISCORD_WEBHOOK=''

# S3 credentials used for backups
S3_ACCESS_KEY=''
S3_SECRET_KEY=''
S3_BUCKET=''
S3_ENDPOINT=''
S3_PATH=''
### Optional ###
